<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Noticias de hoy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let element of listaNoticias">
          
          <ion-checkbox slot="start" [checked]="articuloEnArray(element)" (ionChange)="actualizarNoticas(element)"></ion-checkbox>
          <ion-label>
            <ion-label color="primary">{{ element.source.name }}</ion-label>
            <ion-label>{{ element.title }}</ion-label>
          </ion-label>
          
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
